<br>
<br>
<br>
<!-- Services Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Services</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">CIVIL ENGINEERING<br> WORKS</h3>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("property.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">ELECTRICAL & PLUMBING <br>WORKS</h3>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">REAL ESTATE <br>DEVELOPMENT & MANAGEMENT</h3>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("energy.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">SUPPLIES OF GENERAL<br>GOODS</h3>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">ROAD & BUILDING<br>CONTRUCTION</h3>
                </div>
            </div>
        </div>
    </section>
    
    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>ROAD & BUILDING CONTRUCTION</h3>
                            <hr class="star-primary">
                            <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %>
                            <p>With the best of tools and equipment our roads stand the test of time. </p>
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>CIVIL ENGINEERING WORKS</h3>
                            <hr class="star-primary">
                            <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %>
                            <p>With our highly trained team of certified engineers we produce only the best of engineering works and never compromise on quality.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>ELECTRICAL & PLUMBING WORKS</h3>
                            <hr class="star-primary">
                            <%= image_tag("property.jpg", class: "img-responsive img-thumbnail") %>
                            <p>With Rock Solutions your electrical and plumbing works will never fail you. You can expect the best grade at all times. </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>REAL ESTATE DEVELOPMENT & MANAGEMENT</h3>
                            <hr class="star-primary">
                            <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %>
                            <p>With Rock Solutions your projects will be completed professionally and on time.  </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>SUPPLIES OF GENERAL GOODS</h3>
                            <hr class="star-primary">
                            <%= image_tag("energy.jpg", class: "img-responsive img-thumbnail") %>
                            <p>We supply high quality goods of all kinds anywhere you are within a short period of time. </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>